#symbols{
    animation: symbols 8s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes symbols{
    from{
        transform: rotateZ(360deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}